{% extends "AdminBundle::layout_admin.html.twig" %}


{% block gestion %}
<div class="btn-group">
    <a href="{{ path('admin_article_new') }}"><button class="btn btn-primary">Nuevo</button></a>
</div>
{% endblock %}

{% block contenido %}

{{ function.flash_alerts('alert-info') }}

<table class="table table-striped table-bordered">
<thead>
<tr>
<th>#</th>
<th>Creado</th>
<th>Titulo</th>
<th>Contenido</th>
<th>Autor</th>
<th>Etiquetas</th>
<th>Comentarios</th>
<th><i class="icon-trash"></i></th>
</tr>
</thead>
<tbody>
{% for a in result %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ a.createdAt | date('Y-m-d') }}</td>
            <td><a href="{{ path('admin_article_edit', {'slug': a.slug }) }}">{{ a.title }}</a></td>
            <td>{{ a.content | truncate(50, true) }}</td>
            <td>{{ a.user.username }}</td>
            <td>{{ a.tags | length }}</td>
            <td>{{ a.comments | length }}</td>
            <td><a class="btn btn-danger" href="#myModal" data-toggle="modal" onclick="$(':input#deleteid').val('{{a.id}}');"><i class="icon-trash icon-white"></i></a></td>
        </tr>
{% else %}
    <div class="alert alert-error">
        <span>Aún no se ha creado ningún artículo.</span>
    </div>
{% endfor %}
    </tbody>
</table>

<div class="modal hide fade" id="myModal">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Eliminar artículo</h3>
    </div>
    <div class="modal-body">
    <p>¿Estás seguro que deseas eliminar el artículo?</p>
    <p>Esta acción no se puede deshacer</p>
    </div>
    <div class="modal-footer">
        <form action="{{ path('admin_article_remove') }}" method="POST">
            <a href="#" class="btn" data-dismiss="modal">Cancelar</a>
            <input type="hidden" name="deleteid" value="" id="deleteid" />
            <input type="submit" name="submit" class="btn btn-danger" value="Proceder" />
        </form>
    </div>
</div>

{% endblock %}